/Proyecto_LLamada/nbproject/private/
/Proyecto_LLamada/build/
/Proyecto_Usuarios/nbproject/private/
/Proyecto_Usuarios/build/
/Proyecto_Usuarios/dist/
/Proyecto_Usuario/nbproject/private/
/Proyecto_Usuario/build/
/Proyecto_Usuario/dist/
/proyecto_citas/nbproject/private/
/proyecto_citas/build/
/proyecto_citas/dist/